# Completely ignore build directory and all its contents
build/**/*
build/
**/build/
**/build/**
build/log/
build/log/**/*

# Project specific directories
components/
trainingModel/dataset/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# ESP-IDF specific
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/

# Binary and media files
*.bin
*.raw
*.jpg
*.jpeg
*.png
*.gif
*.zip

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Python virtual environment
venv/
**/venv/
trainingModel/venvpython/

# macOS specific
.DS_Store

# Model files
*.h5
*.tflite
trainingModel/cifar10_model.h5
trainingModel/cifar10_model_quant.tflite

# Test image data
main/test_hippo_image.h

# Large files
trainingModel/dataset.zip
main/model/rgb_output.h